@charset "utf-8";

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

button {
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  text-align: center;
  border-radius: 50px;
}

button::after {
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

button:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

#container {
  padding: 20px;
  background: radial-gradient(
    circle 1000px,
    rgb(152, 251, 152),
    rgb(0, 100, 30)
  );
}

#header {
  height: 60px;
  width: auto;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  margin-top: 60px;
  margin-bottom: 60px;
}

.card {
  height: 252px;
  width: 178px;
  background-color: gray;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.card img {
  display: none;
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
}

.card_back {
  transform: rotateY(180deg);
}

#player1 {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: relative; */
}

.hand {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

#chart-btn {
  width: 100px;
  font-size: larger;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

#chart {
  width: 300px;
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart_block {
  display: flex;
  justify-content: center;
}

#chart_list,
#your_history,
#cpu_history {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#chart_list > li,
#your_history > li,
#cpu_history > li {
  line-height: 1.5;
  padding: 0.3em 0;
  margin-top: 1px;
  background-color: gray;
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: right;
  text-align: center;
  border: solid black 0.5px;
  border-radius: 20px;
}

#chart_list > li {
  width: 100%;
}

#your_history > li,
#cpu_history > li {
  width: 100%;
}

#chart_block .chart_list_title {
  background-color: transparent;
  color: black;
  border: 0;
  border-radius: 0;
}

#chat {
  display: block;
  position: absolute;
  right: 40px;
  background-color: aquamarine;
  width: 300px;
  border-radius: 10px;
}

#chat input {
  width: 100%;
  border-radius: 10px;
}

#indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pat_hand {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pat_hand > div {
  padding-left: 20px;
  padding-right: 20px;
}

#win_lose {
  height: 60px;
  display: flex;
  justify-content: center;
}

#controler-btn {
  display: flex;
  justify-content: center;
}

#controler-btn > div {
  margin: 0 20px;
}

.blink_result {
  animation: blinkAnimeS2 2s infinite alternate;
}

@keyframes blinkAnimeS2 {
  0% {
    color: red;
    background: white;
  }
  100% {
    color: white;
    background: red;
  }
}
